.about-container {
  @apply flex flex-col gap-8 w-[100%] p-10;

  .sub-container {
    @apply flex flex-col gap-4;
  }

  .title {
    @apply text-yellow-500 text-4xl font-bold;
  }

  .card-grid {
    @apply grid 2xl:grid-cols-6 lg:grid-cols-4  md:grid-cols-4  sm:grid-cols-1 gap-4;
  }

  .tought {
    @apply animate-pulse text-yellow-500 h-10 w-56 p-1 rounded-md border border-yellow-500 hover:-translate-y-1 hover:scale-110 transition ease-in-out delay-150;
  }

  @keyframes wave {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-50px);
    }
  
    100% {
      transform: translateY(0);
    }
  }

  .react {
    animation: wave 1s ease forwards infinite ;
  }
  .vue {
    animation: wave 1.3s ease forwards infinite;
  }
  .typescript {
    animation: wave 1.6s ease forwards infinite ;
  }
  .javascript {
    animation: wave 1.9s ease forwards infinite;
  }
  .next {
    animation: wave 2.2s ease forwards infinite;
  }
  .node {
    animation: wave 2.5s ease forwards infinite;
  }
  .express {
    animation: wave 2.8s ease forwards infinite ;
  }
  .java {
    animation: wave 3.1s ease forwards infinite;
  }
  .spring {
    animation: wave 3.3s ease forwards infinite;
  }
}
