.home-container {
  @apply p-10 relative z-10 w-[100%];

  .description {
    @apply w-[50%] border-2 border-yellow-500 rounded-md p-4 bg-gradient-to-r from-gray-800 to-blue-500
    shadow-[0_4px_5px_3px_rgba(59,130,280,0.459)];
  }
  .contact {
    @apply mt-8 border-2 border-yellow-500 rounded-md p-4 bg-gradient-to-r from-gray-800 to-blue-500
    shadow-[0_4px_5px_3px_rgba(59,130,280,0.459)] flex flex-col gap-4 items-center;
  }

  .title {
    @apply text-3xl text-gray-300 font-semibold;
  }

  .wrapper {
    @apply text-yellow-500 text-3xl font-semibold;
  }
  .cursor {
    @apply text-yellow-500 text-3xl font-semibold;
  }

  .slick {
    @apply w-[50%];
    .title {
      @apply text-3xl text-yellow-500 font-semibold;
    }
  }
  @keyframes icon {
    0%,
    100% {
      transform: rotate(0deg);
    }
    25% {
      transform: rotate(25deg);
    }
    50% {
      transform: rotate(0deg);
    }
    75% {
      transform: rotate(-25deg);
    }
  }

  .icon {
    @apply text-yellow-500 text-3xl;
    animation-name: icon;
    animation-duration: 2.1s;
    animation-iteration-count: infinite;
    transform-origin: 70% 70%;
    display: inline-block;
  }

  .slick-slider {
    width: 475px;
  }
  
}
